force-app/main/default/flows/Case_records_based_on_number_of_devices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assignament_1</name>
        <label>Assignament 1</label>
        <locationX>977</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>case.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>953</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>caselist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrease</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease</name>
        <label>Decrease</label>
        <locationX>686</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>opp.Number_of_Devices__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision</name>
        <label>decision</label>
        <locationX>583</locationX>
        <locationY>86</locationY>
        <defaultConnector>
            <targetReference>Create_case_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opp.Number_of_Devices__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignament_1</targetReference>
            </connector>
            <label>Greater than one</label>
        </rules>
    </decisions>
    <interviewLabel>Case records based on number of devices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case records by autolaunch flow 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_case_list</name>
        <label>Create case list</label>
        <locationX>464</locationX>
        <locationY>426</locationY>
        <inputReference>CaseRecordList</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>decision</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caselist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>createCaseList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberofdevices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordIdOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
