force-app/main/default/flows/Child_Case_Records_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Cases</name>
        <label>Assign Cases</label>
        <locationX>676</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>VarCaseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseRecord.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCaseName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarParentCaseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseRecord.Subject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Numberofdevices</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOppID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection</name>
        <label>Collection</label>
        <locationX>978</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>VarCaseRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarCaseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decreament</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decreament</name>
        <label>Decreament</label>
        <locationX>688</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>Numberofdevices</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decission</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decission</name>
        <label>Decission</label>
        <locationX>357</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>child_case_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Numberofdevices</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cases</targetReference>
            </connector>
            <label>Greater than 1</label>
        </rules>
    </decisions>
    <interviewLabel>Child Case Records Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Child Case Records Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>child_case_Records</name>
        <label>child case Records</label>
        <locationX>172</locationX>
        <locationY>335</locationY>
        <inputReference>VarCaseRecordList</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decission</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Numberofdevices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarCaseRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarDash</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>_</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarParentCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarQuote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
