force-app/main/default/flows/Create_case_based_on_number_of_devices_count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Fields</name>
        <label>Assign Fields</label>
        <locationX>748</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>VarName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Decrement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrement</name>
        <label>Decrement</label>
        <locationX>630</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>casecreate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>VarNumberofDevices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_counter</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>VarNumberofDevices</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>for the task given on 15-12-2020</description>
        <name>Check_counter</name>
        <label>Check counter</label>
        <locationX>474</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>case_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNumberofDevices</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields</targetReference>
            </connector>
            <label>Greater than 1</label>
        </rules>
    </decisions>
    <description>This flow is used to create case records based on the number of records present in number of devices field in opportunity</description>
    <formulas>
        <name>create</name>
        <dataType>Number</dataType>
        <expression>{!VarNumberofDevices}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>decreasenoofdev</name>
        <dataType>Number</dataType>
        <expression>{!VarNumberofDevices}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>name</name>
        <dataType>String</dataType>
        <expression>{!OppName}</expression>
    </formulas>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>Create case based on number of devices count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>case based on number of devices count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>case_create</name>
        <label>case create</label>
        <locationX>374</locationX>
        <locationY>330</locationY>
        <inputReference>CaseCount</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_counter</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CaseCount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>casecreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>VarNumberofDevices</elementReference>
        </value>
    </variables>
    <variables>
        <name>Vardecresecount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDevices</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNumberofDevicesoncase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>VarNumberofDevices</elementReference>
        </value>
    </variables>
</Flow>
