force-app/main/default/flows/exp11.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Screen</name>
        <label>Email Screen</label>
        <locationX>373</locationX>
        <locationY>181</locationY>
        <actionName>EmailAttachmentForFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ccMail</name>
            <value>
                <elementReference>CC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currentRecordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ebody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eMail</name>
            <value>
                <elementReference>SendTo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendAttachment</name>
            <value>
                <elementReference>SendAttachment</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>EmailAttachmentForFlowComp</description>
    <interviewLabel>exp11 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailAcctachmentByApex</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>emailScreen</name>
        <label>emailScreen</label>
        <locationX>216</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Email_Screen</targetReference>
        </connector>
        <fields>
            <name>SendTo</name>
            <dataType>String</dataType>
            <fieldText>SendTo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CC</name>
            <dataType>String</dataType>
            <fieldText>CC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmailBody</name>
            <dataType>String</dataType>
            <fieldText>EmailBody</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SendAttachment</name>
            <dataType>Boolean</dataType>
            <fieldText>SendAttachment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>sourceofthisflow</name>
            <fieldText>&lt;p&gt;this flow is taken from &lt;/p&gt;&lt;p&gt;how2salesforce.com/send-email-with-attachments-from-flow-builder/&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>emailScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
