force-app/main/default/flows/exp12.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email to contacts</description>
        <name>send_email</name>
        <label>send email</label>
        <locationX>106</locationX>
        <locationY>357</locationY>
        <actionName>EmailAttachmentForFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currentRecordId</name>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ebody</name>
            <value>
                <stringValue>body of email attachment added</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eMail</name>
            <value>
                <elementReference>LoopContacts.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eSubject</name>
            <value>
                <stringValue>attachment added</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendAttachment</name>
            <value>
                <elementReference>AddAttachment.multiple</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assignemail</name>
        <label>assignemail</label>
        <locationX>423</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>emailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopContacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopContacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dis_email_scren</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used to assign each email ids coming from loops</description>
        <name>AssignEmails</name>
        <label>AssignEmails</label>
        <locationX>634</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>emailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopContacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopContacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssinCOnIds</name>
        <label>AssinCOnIds</label>
        <locationX>737</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>conRecIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;{!conRecIds}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_selected_contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkConRecCollection</name>
        <label>checkConRecCollection</label>
        <locationX>840</locationX>
        <locationY>197</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopContacts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RelatedConList</targetReference>
            </connector>
            <label>Greater</label>
        </rules>
        <rules>
            <name>Less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConRecordsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_ConRec_Collection</targetReference>
            </connector>
            <label>Less</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>conChoicee</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>conRecIds</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConRecChSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>LoopContacts.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>contactRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>conRecIds</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>exp12 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>exp12</label>
    <loops>
        <name>LoopContacts</name>
        <label>LoopContacts</label>
        <locationX>632</locationX>
        <locationY>246</locationY>
        <collectionReference>ConRecordsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkConRecCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignemail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Related contacts of selected account</description>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>478</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>conlistt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ConRecordsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <screens>
        <name>conlistt</name>
        <label>conlistt</label>
        <locationX>631</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssinCOnIds</targetReference>
        </connector>
        <fields>
            <name>con_list</name>
            <choiceReferences>conChoicee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>con_list</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dis_email_scren</name>
        <label>Dis email scren</label>
        <locationX>237</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
        <fields>
            <name>displayemail</name>
            <fieldText>&lt;p&gt;send email::{!send_email}&lt;/p&gt;&lt;p&gt;email address:&lt;/p&gt;&lt;p&gt;{!emailAddress}&lt;/p&gt;&lt;p&gt;loop contacts.email:{!LoopContacts.Email}&lt;/p&gt;&lt;p&gt;to address:: {!toAddresses}&lt;/p&gt;&lt;p&gt;loopcontacts.email::{!LoopContacts.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_ConRec_Collection</name>
        <label>Display ConRec Collection</label>
        <locationX>1043</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Message</name>
            <fieldText>&lt;p&gt;con recmcollection:{!ConRecordsCollection}&lt;/p&gt;&lt;p&gt;loop contact ids::{!LoopContacts.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_selected_contacts</name>
        <label>Display selected contacts</label>
        <locationX>940</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>contacts_selected</name>
            <fieldText>&lt;p&gt;{!ConRecChSet}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Get All Accounts in org</description>
        <name>GetAcc</name>
        <label>GetAcc</label>
        <locationX>341</locationX>
        <locationY>48</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getContacts</targetReference>
        </connector>
        <fields>
            <name>AccListt</name>
            <choiceReferences>AccountRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>AccListt</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Show Related Contacts</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RelatedConList</name>
        <label>RelatedConList</label>
        <locationX>868</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignEmails</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;acc Record Id: {!recordId}&lt;/p&gt;&lt;p&gt;Contact Rec collection:{!ConRecordsCollection}&lt;/p&gt;&lt;p&gt;Get contacts:{!getContacts}&lt;/p&gt;&lt;p&gt;loopcontacts id: {!LoopContacts.Id}&lt;/p&gt;&lt;p&gt;AccountRecordChoiceset:{!AccountRecordChoiceSet}&lt;/p&gt;&lt;p&gt;Con Rec choice set:{!contactRecordChoiceSet}&lt;/p&gt;&lt;p&gt;con rec collection:{!ConRecordsCollection}&lt;/p&gt;&lt;p&gt;loop contacts email:::{!LoopContacts.Email}&lt;/p&gt;&lt;p&gt;email address:::{!emailAddress}&lt;/p&gt;&lt;p&gt;To address::::&lt;/p&gt;&lt;p&gt;{!toAddresses}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showReclatedCon</name>
            <extensionName>c:flowComp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>RecordId</name>
                <value>
                    <elementReference>LoopContacts.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LoopContacts.Id</assignToReference>
                <name>RecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AddAttachment</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>send_email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>LoopContacts.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>GetAcc</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ConRecId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>conRecIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ConREId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>This variable stores email Address of multiple contacts</description>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores Account RecordIds</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>setconids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
