force-app/main/default/flows/Quote_Records_Ctreation_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>collection</name>
        <label>collection</label>
        <locationX>947</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteRecList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarQuoteRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrement</name>
        <label>Decrement</label>
        <locationX>706</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>NumberofDevices</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Greater_than_1</name>
        <label>Greater than 1</label>
        <locationX>704</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteRec.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decission</name>
        <label>Decission</label>
        <locationX>460</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>create_Quote_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofDevices</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Greater_than_1</targetReference>
            </connector>
            <label>Greater than 0</label>
        </rules>
    </decisions>
    <interviewLabel>Quote Records Ctreation flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Records Ctreation flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Quote_Rec</name>
        <label>create Quote Rec</label>
        <locationX>339</locationX>
        <locationY>352</locationY>
        <inputReference>VarQuoteRecList</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decission</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NumberofDevices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QuoteRecList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>VarOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>VarQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarQuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarQuoteRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>VarQuoteRecList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
