force-app/main/default/flows/ResourceAllocationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>check_for_Resource</name>
        <label>check for Resource</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResourceExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourceVariable.Resource__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Resourcevar.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateUtiliztionRecords</targetReference>
            </connector>
            <label>ResourceExists</label>
        </rules>
        <rules>
            <name>ResourceIsOld</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourceVariable.Resource__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Resourcevar.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateUtilizationRecords</targetReference>
            </connector>
            <label>ResourceIsOld</label>
        </rules>
    </decisions>
    <interviewLabel>ResourceAllocationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ResourceAllocationFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateUtiliztionRecords</name>
        <label>CreateUtiliztionRecords</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputReference>UtilizationVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getResourceAllocationRecords</name>
        <label>getResourceAllocationRecords</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_Resource</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Resource_Allocation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Avg_Weekly_Hours__c</queriedFields>
        <queriedFields>end_date__c</queriedFields>
        <queriedFields>start_date__c</queriedFields>
        <queriedFields>Resource__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateUtilizationRecords</name>
        <label>UpdateUtilizationRecords</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputReference>UtilizationVar</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getResourceAllocationRecords</targetReference>
        </connector>
        <object>Resource_Allocation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Resourcevar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource__c</objectType>
    </variables>
    <variables>
        <name>ResourceVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resource_Allocation__c</objectType>
    </variables>
    <variables>
        <name>UtilizationVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utilization__c</objectType>
    </variables>
</Flow>
